@import 'achievements';
@import "partner";
@import "video";
.mob{
  display: none;
}
@media (max-width: 768px) {
  .des{
    display: none;
  }
  .mob{
    display: inline;

  }
  .container {
    width: 92%;
  }
}