.partner_wrapper{
  margin-top: 120px;
  .wrap {
    max-width: 100%
  }
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
  }
  .items-wrap:before,
  .items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    transition: all 0.1s ease-in-out;
  }
  .marquee {
    animation: scroll 40s linear infinite;
  }
  .items-wrap:hover .marquee {
    animation-play-state: paused;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

}